header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text);
}

.navv {
  color: #eddbd9;
  background: rgba(29, 34, 40, 0);
  --bs-body-bg: #1d2228;
}

.nav-scrolled {
  --text: #fff;
  --text-inverse: #f4f4f4;
  background: #1d2228;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}